@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
  font-family: 'Roboto', sans-serif;
}

body,
html {
  @apply h-full w-full;
}

#root {
  @apply h-full w-full;
}

a:hover {
  color: inherit !important;
}

.desc {
  @apply text-gray-500 text-sm;
}

.loader-gif,
.no-data {
  @apply h-[600px] flex items-center justify-center flex-col text-center;
}

.no-data-img {
  @apply w-[180px] h-[180px];
}

.loader-gif-img {
  @apply w-[80px] h-[80px];
}

.loader-gif-img img {
  @apply w-full h-full;
}

/* Antd config */
.ant-form-item {
  @apply !mb-[10px];
}
